exportPattern("^[[:alpha:]]+")
#export(`%+%`)
#export(`%|%`)
import(purrr)
import(Function)
S3method(as.RegEx, RegEx, as.RegEx.RegEx)
S3method(as.RegEx, character, as.RegEx.character)
S3method(as.CharClass, CharClass, as.CharClass.CharClass)
S3method(as.CharClass, character, as.CharClass.character)